@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Source+Serif+Pro:400,700');

/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main Section */

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: ghostwhite;
 /* position: relative;
  padding-bottom: 20px;
  min-height: 100vh;*/
}
a {
  color: #00B7FF;
  margin: 10px;
  display: inline-block;
}
.main-store{
	display: flex;
	justify-content: space-between;
	margin: 4rem;
	/*background: #F1F1F1;*/
}
.main-store img{
	margin: 2rem 10rem;
}
.main-head{
	margin: 40px;
	letter-spacing: 2px;
}
.sub-section{
	margin: 10px 0;
}
.wrapper{
	margin: 0 auto;
	width: 1000px;
	text-align: center;
}
h1{
	font-family: 'Inconsolata', monospace;
	font-size: 3.6rem;
	/*margin: 40px;*/
	text-decoration: underline;
}
h1 ~ p {
	margin: 40px;
	font-size: 1rem;
}
.book-list{
	list-style: none;
}
.book-card{
	background: thistle;
	width: 300px;
	height: 120px;
	padding: 20px;
	color: #333;
	border-radius: 4px;
	margin: 20px 10px 10px 30px;
}
.buy-book{
	width: 50px;
	border: 0;
	outline: 0;
	display: block;
	height: 30px;
	background: black;
	font-size: 0.8rem;
	border-radius: 4px;
	color: #ffe;
	letter-spacing: 1px;
	font-family: 'Inconsolata', monospace;
}
.book-card p{
	margin: 10px 0;
}
.book-list li {
	display: inline-block;
	margin-right: 10px;
}
p small {
	font-weight: bold;
	padding-right: 10px;
	font-size: 0.9rem;
}
form{
	margin-bottom: 20px;
}
.add-book{
	/*margin: 2rem auto;*/
	text-align: center;
	max-width: 500px;
	/*min-height: 100%;*/
}
.sign-up{
	margin: 3rem auto;
	text-align: center;
	max-width: 500px;
	min-height: 100%;
}
input{
	width: 420px;
	height: 30px;
	outline: 0;
	border-radius: 6px;
	padding: 10px;
	margin: 10px;
	display: block;
	border: 2px solid black;
	font-size: 1rem;
}
textarea{
	width: 420px;
	height: 80px;
	border-radius: 6px;
	padding: 10px;
	margin: 10px;
	display: block;
	outline: 0;
}
.submit input{
	width: 200px;
	border: 0;
	outline: 0;
	height: 40px;
	background: black;
	font-size: 1rem;
	margin-left: 130px;
	color: #ffe;
}
.submit button {
	width: 200px;
	border: 0;
	outline: 0;
	height: 40px;
	background: black;
	font-size: 1rem;
	border-radius: 4px;
	color: #ffe;
	letter-spacing: 1px;
	font-family: 'Inconsolata', monospace;
}
li a {
	text-decoration: none;
	/*color: ;*/
}
.modify{
	display: block;
}
.greet{
	margin: 0 auto;
	text-align: right;
	padding: 0 45px;
	/*font-style: italic;*/
	font-weight: bold;
	font-size: 1.2rem;
	font-family: 'Inconsolata', monospace;
}
.page-head{
	display: flex;
	justify-content: space-between;
	margin: 40px;
}
.back{
	color: #00B7FF;
}
.add-author{
	color: #00B7FF;
	padding: 0 20px;
}
.auth-name{
	margin-top: 6px;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 1.2rem;
	font-family: 'Inconsolata', monospace;
}
.user-img {
	border-radius: 50%;
	margin-left: 10px;
}
.author-info{
	display: flex;
}

/* Book Details section */

.book-card-detail{
	width: 660px;
	background: #fff;
	color: #333;
	border: 2px solid black;
	padding: 10px;
	text-align: left;
	margin-top: 20px;
	font-family: 'Source Serif Pro', serif;
	font-size: 1rem;
}
.book-card-detail p{
	padding-bottom: 10px;
	margin: 10px 0;
}
.wrapper h1{
	text-decoration: underline;
}
.modify-details{
	display: flex;
	margin: 10px 0;
	justify-content: space-between;
}
select {
	width: 440px;
	height: 55px;
	outline: 0;
	margin-right: 36px;
}
.author-card{
	background: seagreen;
	width: 280px;
	padding: 10px;
	color: #333;
	border-radius: 6px;
	margin: 20px 10px 10px 30px;
}
.author-card p{
	margin: 10px;
}
.error{
	color: red;
}
.error::first-letter{
	text-transform: capitalize;
}
/*.author-card a {
	margin: 0 10px;
}*/
div a {
	text-decoration: none;
	color: black;
	margin: 0;
}
.modify-icons{
	display: flex;
	/*justify-content: space-between;*/
}
a i{
	margin-right: 10px;
}
.user-card{
	background: steelblue;
	width: 280px;
	padding: 10px;
	color: #333;
	border-radius: 6px;
	margin: 20px 10px 10px 30px;
}
.user-card p{
	margin: 10px 0;
}

/* Header Partial */

.menu a, 
.auth-menu a{
	text-decoration: none;
	font-family: 'Inconsolata', monospace;
	color: #fff;
	margin: 0 20px;
	padding: 10px 0;
	font-size: 1.1rem;
}
.menu{
	display: flex;
	font-family: 'Inconsolata', monospace;
	justify-content: space-between;
	background: #100c08;
	color: white;
	padding: 10px;
}
.menu a:hover{
	color: green;
}
.auth-menu a:hover{
	color: tomato;
}
.auth-menu{
	display: flex;
	justify-content: space-between;
	background: darkslategray;
	color: white;
	padding: 10px;
}

/* Footer */
/*footer a {
	text-decoration: none;
	text-align: center;

}*/
footer{	
	/*z-index: 1;*/
	width: 100%;
	position: absolute;
	display: flex;
	bottom: 0;
	font-family: 'Inconsolata', monospace;
}
footer div {
	margin: 0 1rem 1rem 38rem;
	font-size: 1.2rem;
}
.fa-github-alt {
	font-size: 1.2rem;
}
.fa-heart{
	color: red;
}

/* OAuth button*/
.google-button {
	letter-spacing: 1px;
  height: 50px;
  border-width: 0;
  background: black;
  color: #fff;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  outline: none;
  cursor: pointer;
  
  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}
    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 26px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 20px;
  font-family: 'Inconsolata', monospace;;
}

/* Login Type */

.login-type{
	display: flex;
	justify-content: space-between;
}
.login-type-user{
	margin: 4rem 6rem;
	padding: 2rem 6rem;
	border-right: 2px solid black;
}
.login-type-author{
	margin: 8rem 1rem;
	padding: 20px;
}