
<% if(user) { %>
	<header>
		<div class="menu">
				<a href="/"><i class="fas fa-home"></i>Home</a>
				<a href="/books"><i class="fas fa-book"></i>Browse Books</a>
				<a href="/users"><i class="far fa-user"></i>Users</a>
				<a href="/users/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
		</div>
	</header>
<% } else { %>
	<header>
		<div class="menu">
				<a href="/users/login"><i class="fas fa-sign-in-alt"></i>Login</a>
				<a href="/books"><i class="fas fa-book"></i>Browse Books</a>
				<a href="/users/register"><i class="fas fa-user-plus"></i>SignUp</a>
		</div>
	</header>
<% } %>
