<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/header.ejs %>
  	<a href="/">Back</a>
  	<a href="/">Main</a>
		<div class="wrapper">
	    <h1>Add new books</h1>
	   </div>
	    <form class="add-book" action= '/books' method='POST'>
	    	<input type="text" name="title" placeholder="Book Title">
	    	<select name="author">
	    		<% authors.forEach(author => { %>
	    		<option value="<%=author._id%>"><%= author.name %></option>
	    	<% }) %>
	    	</select>
	    	<textarea type="text" placeholder="Description" name="description"></textarea>
	    	<input type="number" name="pages" placeholder="Pages">
	    	<input type="date" name="created" placeholder="created">
	    	<input type="text" name="tags" placeholder="tags">
	    	<div class="submit">
	    		<input type="submit" value="Add Books">
				</div>
	    </form>
	  </div>
    <% include partials/footer.ejs %>
  </body>
</html>
