<!DOCTYPE html>
<html>
  <head>
    <title>User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users Registration</h1>
    <form class="add-book" action= '/users/register' method='POST'>
	    <input type="text" name="name" placeholder="name">
	    <input type="text" name="email" placeholder="email">
	    <input type="password" name="password" placeholder="password">
	    <input type="submit" name="Submit">
	  </form>
  </body>
</html>
