<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/header.ejs %>
    <h1>Admin Portal</h1>
    <p>This page can only be accessed by Bookstore Admin</p>
    <% include partials/footer.ejs %>
  </body>
</html>
