<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/header.ejs %>
  	<a href="/">Back</a>
		<div class="wrapper">
	    <h1>Add new authors</h1>
	   </div>
	    <form class="add-book" action= '/author' method='POST'>
	    	<input type="text" name="name" placeholder="Author Name">
	    	<input type="number" name="age" placeholder="Age">
	    	<input type="email" name="email" placeholder="Email"> <div class="submit">
	    	<input type="submit" value="Add Author">
				</div>
	    </form>
	  </div>
    <% include partials/footer.ejs %>
  </body>
</html>
