<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href='/users/info'>Users</a>
    <a href='/profile'>Profile</a>
    <a href='/admin'>Admin</a>
    <a href="/books">Books</a>
    <a href="/author">Authors</a>


  </body>
</html>
