<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users Profile</h1>
    <p>This can only be accessed by Bookstore users</p>
    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a>
    <a href="/users">List Users</a>
    <% include partials/footer.ejs %>
  </body>
</html>
