<!DOCTYPE html>
<html>
  <head>
    <title>User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <% include partials/header.ejs %>
    <div class="page-head">
      <h1>Login Portal</h1>
    </div>
    <form class="add-book" action= '/users/login' method='POST'>
      <% if(message) { %>
        <p class="error"><%= message %></p>
      <% } %>
      <div class="login-type">
        <div class="login-type-user">
    	    <input type="text" name="email" placeholder="email">
    	    <input type="password" name="password" placeholder="password">
          <div class="submit">
    	     <button type="submit" name="Submit">Sign In as User</button>
          </div>
        </div>
        <div class="login-type-author">
          <a href="/auth/google/">
            <button type="button" class="google-button">
              <span class="google-button__icon google-button__icon--plus">
                <svg viewBox="0 0 93 60" xmlns="http://www.w3.org/2000/svg"><path d="M.12 28.862C.375 13.725 14.29.47 29.428.974c7.253-.337 14.07 2.82 19.626 7.252-2.37 2.694-4.826 5.29-7.45 7.716-6.677-4.615-16.174-5.934-22.852-.603-9.552 6.606-9.987 22.206-.798 29.318 8.936 8.11 25.826 4.083 28.295-8.333-5.597-.084-11.21 0-16.806-.182-.013-3.34-.027-6.678-.013-10.016 9.357-.028 18.714-.043 28.085.028.56 7.856-.477 16.217-5.303 22.712-7.31 10.283-21.983 13.285-33.43 8.88C7.29 53.37-.848 41.235.12 28.862zm75.643-11.167h8.347c.014 2.792.028 5.598.056 8.39 2.792.028 5.598.028 8.39.056v8.348c-2.792.028-5.584.042-8.39.07-.028 2.805-.042 5.597-.056 8.39h-8.36c-.03-2.793-.03-5.585-.057-8.376l-8.39-.084V26.14c2.793-.027 5.584-.04 8.39-.056.014-2.805.042-5.597.07-8.39z" fill="#DC4E41"/></svg>
              </span>
              <span class="google-button__text">Sign In as Author</span>
            </button>
          </a>
        </div>
      </div>
	  </form>
    <% include partials/footer.ejs %>
  </body>
</html>
