<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Books Profile</h1>
    <p>Welcome to the books section</p>
  </body>
</html>
