<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <% include partials/header.ejs %>
    <div class="page-head">
      <h1>Member Users</h1>
      <a class="back" href="/users/info">Back</a>
    </div>
    <div class="greet">Hello <%= user.name %>!</div>
    <!-- <a href="/author/add" class="add-author">Add User</a> -->
    <ul class="book-list">
    <% users.forEach(ele => {%>
      <li>
        <div class="user-card"> 
          <p><small>Name:<br></small> <%= ele.name %></p>
          <p><small>Email:<br></small> <%= ele.email %></p> 
          <div class="modify-icons">
            <div><a href='/users/<%= ele.id %>/delete'><i class="fas fa-trash-alt"></i></a></div>
          </div>
        </div>
        </a>
      </li>
    <% }) %>
    </ul>
    <% include partials/footer.ejs %>
  </body>
</html>
